html {height: 100%;}
body {
	height: 100%;
	font-family: Arial;
	font-size: 16px;
	line-height: 150%;
	background: #fff;
	position: relative;
}
body a {color: #777;}
body a:hover {color: #000; text-decoration: none;}
.invisible {display: none;}

button {
	padding: 10px;
	font-weight: bold;
}

#mainHeader {
	position: fixed;
	width: 500px;
	text-align: center;
	top: 0px; left: calc(50% - 255px);
	z-index: 100;
	font-size: 28px;
	font-weight: normal;
	padding: 15px 5px;
	background: rgba(255,255,255, 0.7);
	-webkit-box-shadow: 0 0 20px 10px rgba(255,255,255, 0.7);
	box-shadow: 0 0 20px 10px rgba(255,255,255,0.7);
	-webkit-border-radius: 0 0 50px 50px;
}

/**
* GLOBAL:it would be on every page;
*/
	/**
	* GLOBAL:accordion;
	*/
/*		ul.accordion{
			z-index: 35;
		    list-style:none;   
		    position:absolute;
		    left:0px;
		    bottom:0px;
		    font-family: Cambria, serif;
		    font-size: 16px;
		    font-style: italic;
		    line-height: 1.5em;
		    width: 10000px;
		}
		ul.accordion>li{
		    float:left;
		    width:125px;
		    height:200px;
		    display:block;
		    border-right:2px solid #fff;
		    border-bottom:2px solid #fff;
		    background-color:#fff;
		    background-repeat:no-repeat;
		    background-position:center center;
		    position:relative;
		    overflow:hidden;
		    -moz-box-shadow:1px 3px 15px #555;
		    -webkit-box-shadow:1px 3px 15px #555;
		    box-shadow:1px 3px 15px #555;
		}
		ul.accordion>li:last-child {
		    border-left:2px solid #fff;
		}
		ul.accordion>li .heading{
		    background-color:#fff;
		    padding:10px;
		    margin-top:30px;
		    opacity:0.9;
		    text-transform:uppercase;
		    font-style:normal;
		    font-weight:bold;
		    letter-spacing:1px;
		    font-size:14px;
		    color:#444;
		    text-align:center;
		    text-shadow:-1px -1px 1px #ccc;
		}
		ul.accordion>li .description{
		    overflow: auto;
		    position:absolute;
		    width:calc(100% - 5px);
		    height:175px;
		    bottom:0px;
		    left:0px;
		    display:none;
		}
		ul.accordion>li .description h2{
		    text-transform:uppercase;
		    font-style:normal;
		    font-weight:bold;
		    letter-spacing:1px;
		    font-size:30px;
		    color:#444;
		    text-align:left;
		    margin:0px 0px 15px 20px;
		    text-shadow:-1px -1px 1px #ccc;
		}
		ul.accordion>li .description p{
		    line-height:14px;
		    margin:10px 22px;
		    font-family: "Trebuchet MS", sans-serif;
		    font-size: 12px;
		    font-style: italic;
		    font-weight: normal;
		    text-transform: none;
		    letter-spacing: normal;
		    line-height: 1.6em;
		}
		ul.accordion>li .description a{
		    position:absolute;
		    bottom:5px;
		    left:20px;
		    text-transform:uppercase;
		    font-style:normal;
		    font-size:11px;
		    text-decoration:none;
		    color:#888;
		}
		ul.accordion>li .description a:hover{
		    color:#333;
		    text-decoration:underline;
		}

		ul.accordion>li .bgDescription{
		    background:transparent url(images/bgDescription.png) repeat-x top left;
		    height:340px;
		    position:absolute;
		    bottom:0px;
		    left:0px;
		    width:100%;
		    display:none;
		}

		.description>ul {
			padding: 0px 10px 10px;
		}
		.description>ul li {
			font-size: 20px;
			display: inline-block;
			padding-right: 15px;
			width: calc(33% - 15px);
			line-height: 30px;
			vertical-align: middle;
		}
		.description>ul li h1 {
			color: #777;
			font-size: 18px;
			font-weight: normal;
		    font-style: normal;
		    line-height: 100%;
		    margin-bottom: 15px;

		}
		.description>ul li h1:hover {color: #000; cursor: pointer;}*/



	/**
	* GLOBAL:flexslider;
	*/
		/*
		 * jQuery FlexSlider v1.7
		 * http://flex.madebymufffin.com
		 *
		 * Copyright 2011, Tyler Smith
		 * Free to use under the MIT license.
		 * http://www.opensource.org/licenses/mit-license.php
		 */
		 
		/* Browser Resets */
		.flex-container a:active,
		.flexslider a:active {outline: none;}
		.slides,
		.flex-control-nav,
		.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

		/* FlexSlider Necessary Styles
		*********************************/ 
		.flexslider {width: calc(100% - 9px); margin: 0; padding: 0;}
		.flexslider .slides > li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
		.flexslider .slides img {width: 100%; display: block;}
		.flex-pauseplay span {text-transform: capitalize;}

		/* Clearfix for the .slides element */
		.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
		html[xmlns] .slides {display: block;} 
		* html .slides {height: 1%;}

		/* No JavaScript Fallback */
		/* If you are not using another script, such as Modernizr, make sure you
		 * include js that eliminates this class on page load */
		.no-js .slides > li:first-child {display: block;}


		/* FlexSlider Default Theme
		*********************************/
		.flexslider {background: #fff; border: 4px solid #ccc; border-bottom: solid 25px #ccc; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
		.flexslider .slides {zoom: 1;}
		.flexslider .slides > li {position: relative;}
		/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
		.flex-container {zoom: 1; position: relative;}

		/* Caption style */
		/* IE rgba() hack */
		.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
		.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

		/* Direction Nav */
		.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(theme/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;}
		.flex-direction-nav li a.next {background-position: -52px 0; right: -21px;}
		.flex-direction-nav li a.prev {background-position: 0 0; left: -20px;}
		.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

		/* Control Nav */
		.flex-control-nav {width: 100%; position: absolute; bottom: -30px; text-align: center;}
		.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
		.flex-control-nav li:first-child {margin: 0;}
		.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(theme/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
		.flex-control-nav li a:hover {background-position: 0 -13px;}
		.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}



	/**
	* GLOBAL:video;
	*/
		#ytLayer {
			min-width: 640px;
			min-height: 360px;
			position: fixed;
			z-index: 10;
			top: 200px;
			left: calc(50% - 320px);
			display: none;
		}
		#shadow {
			display: none;
			background: rgba(0,0,0, 0.4);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			z-index: 40;
		}



/**
* PAGE:mainpage;
*/
#fullReview button {
	margin-top: 20px;
}
#fullReview {
	display: none;
	position: absolute;
	top:0;
	width: 700px;
	left: calc(50% - 365px);
	z-index: 30;
	padding: 80px 15px 210px;
	height: calc(100% - 290px);
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);
	line-height: 150%;
	text-align: justify;
}

#viewer {
	width: 100%;
	height: 100%;
}
/* anti-copyrights */
.ymaps-copyrights-legend, .ymaps-copyrights-logo {display: none !important;}


#createRoute {
	margin: 0px;
	position: fixed;
	bottom: 210px;
	left: 0px;
	z-index: 100;
}


/*#viewer {display: none;}*/




#categories {
	position: absolute;
	top: 0px;
	left: 0px;
	/*width: 350px;*/
	padding-right: 40px;
	height: 100%;
	background: rgba(255,255,255, 0.7);
	overflow: auto;
}
#categories  input, .itemName, .layoutName {
	display: inline-block;
}
#categories li {
	list-style: none;
	line-height: 30px;
	vertical-align: middle;
}

.layoutName {
	/*font-weight: bold;*/
	font-size: 26px;
}
#categories .layoutsContainer>li>input {
	margin-top: -5px;
}
#categories .itemsContainer>li>input {
	margin-top: -2px;
}
.opened .expand {
	background: url('images/toggle.png') 0px 0px;
}
.expand {
	cursor: pointer;
	background: url('images/toggle.png') 30px 30px;
	margin-left: 5px;
	margin-bottom: -6px;
	width: 30px;
    height: 30px;
    display: inline-block;
}
.itemsContainer {
	display: none;
	padding-left: 35px;
}
