html {height: 100%;}
body {
	height: 100%;
	font-family: Arial;
	font-size: 16px;
	line-height: 150%;

	background: #fff;
}
body a {color: #777;}
body a:hover {color: #000; text-decoration: none;}












ul.accordion{
	z-index: 35;
    list-style:none;   
    position:absolute;
    left:0px;
    bottom:0px;
    font-family: Cambria, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
}
ul.accordion>li{
    float:right;
    width:115px;
    height:200px;
    display:block;
    border-right:2px solid #fff;
    border-bottom:2px solid #fff;
    background-color:#fff;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    overflow:hidden;
    -moz-box-shadow:1px 3px 15px #555;
    -webkit-box-shadow:1px 3px 15px #555;
    box-shadow:1px 3px 15px #555;
}
ul.accordion>li {
    background-image:url(images/1.jpg);
}
ul.accordion>li:last-child {
    border-left:2px solid #fff;
}
ul.accordion>li .heading{
    background-color:#fff;
    padding:10px;
    margin-top:30px;
    opacity:0.9;
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:14px;
    color:#444;
    text-align:center;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion>li .description{
    position:absolute;
    width:480px;
    height:175px;
    bottom:0px;
    left:0px;
    display:none;
}
ul.accordion>li .description h2{
    text-transform:uppercase;
    font-style:normal;
    font-weight:bold;
    letter-spacing:1px;
    font-size:45px;
    color:#444;
    text-align:left;
    margin:0px 0px 15px 20px;
    text-shadow:-1px -1px 1px #ccc;
}
ul.accordion>li .description p{
    line-height:14px;
    margin:10px 22px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.6em;
}
ul.accordion>li .description a{
    position:absolute;
    bottom:5px;
    left:20px;
    text-transform:uppercase;
    font-style:normal;
    font-size:11px;
    text-decoration:none;
    color:#888;
}
ul.accordion>li .description a:hover{
    color:#333;
    text-decoration:underline;
}

ul.accordion>li .bgDescription{
    background:transparent url(images/bgDescription.png) repeat-x top left;
    height:340px;
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    display:none;
}

.description>ul {
	padding: 0px 10px 10px;
}
.description>ul li {
	font-size: 20px;
	display: inline-block;
	width: 32%;
	/*width: 40%;*/
	line-height: 30px;
	vertical-align: middle;
}
.description>ul li h1 {
	color: #777;
	font-size: 18px;
	font-weight: normal;
    font-style: normal;

}
.description>ul li h1:hover {color: #000; cursor: pointer;}











.invisible {display: none;}
#fullReview button {
	margin-top: 20px;
	padding: 10px;
}
#fullReview {
	display: none;
	position: absolute;
	top:0;
	width: 600px;
	left: calc(50% - 315px);
	z-index: 30;
	padding: 80px 15px 210px;
	height: calc(100% - 290px);
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);
	line-height: 150%;
	text-align: justify;
}

#shadow {
	display: none;
	background: rgba(0,0,0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	z-index: 40;
}



#viewer {
	width: 100%;
	height: 100%;
}

#layoutList {margin-bottom: 10px;}
#layoutList ul {margin: 0px; padding-left: 20px;}
#layoutList li {list-style: none;}

#ytLayer {
	min-width: 640px;
	min-height: 360px;
	position: fixed;
	z-index: 10;
	top: 200px;
	left: calc(50% - 320px);
	display: none;
}

#mainHeader {
	position: fixed;
	width: 500px;
	text-align: center;
	top: 0px; left: calc(50% - 255px);
	z-index: 100;
	font-size: 28px;
	font-weight: normal;
	padding: 15px 5px;
	background: rgba(255,255,255, 0.7);
	-webkit-box-shadow: 0 0 20px 10px rgba(255,255,255, 0.7);
	box-shadow: 0 0 20px 10px rgba(255,255,255,0.7);
	-webkit-border-radius: 0 0 50px 50px;
}


/**
* GLOBAL:anti-copyrights;
*/
.ymaps-copyrights-legend, .ymaps-copyrights-logo {display: none !important;}




