html {height: 100%;}
body {
	height: 100%;
	font-family: Arial;
	font-size: 16px;
	line-height: 150%;
	background: #fff;
	position: relative;
}
body a {color: #777;}
body a:hover {color: #000; text-decoration: none;}
.invisible {display: none;}

button {
	padding: 10px;
	font-weight: bold;
	float: right;
}

h1 {
	font-size: 25px;
	margin: 20px 0px;
}
.highslide-credits {display: none !important;}

#mainHeader {
	position: fixed;
	width: 500px;
	text-align: center;
	top: 0px; left: calc(50% - 255px);
	z-index: 100;
	font-size: 28px;
	font-weight: normal;
	padding: 15px 5px;
	background: rgba(255,255,255, 0.7);
	-webkit-box-shadow: 0 0 20px 10px rgba(255,255,255, 0.7);
	box-shadow: 0 0 20px 10px rgba(255,255,255,0.7);
	-webkit-border-radius: 0 0 50px 50px;
}



/**
* GLOBAL:video;
*/
	#ytLayer {
		min-width: 640px;
		min-height: 360px;
		position: fixed;
		z-index: 40;
		top: 200px;
		left: calc(50% - 320px);
		display: none;
	}
	#shadow {
		display: none;
		background: rgba(0,0,0, 0.4);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; left: 0;
		z-index: 35;
	}



/**
* PAGE:mainpage;
*/
.fullReviewWrapper h1 {
	padding-right: 250px;
	text-align: left;
}
.fullReviewWrapper {
	/*height: calc(100% - 400px);*/
	/*overflow: auto;*/
	position: relative;
}
.fullReviewWrapper .content {
	padding-right: 10px;
	max-height: 500px;
	overflow: auto;
}

#fullReview {
	display: none;
	position: absolute;
	top: 80px;
	min-width: 400px;
	width: calc(80% - 200px);
	right: 10%;
	z-index: 30;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	line-height: 150%;
	text-align: justify;
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.7);
}
#fullReview button {
	margin-top: 20px;
}



.highslide img {
	max-width: 200px;
	max-height: 150px;
	margin-bottom: -6px;
}
.highslide {
	cursor: pointer;
	padding: 2px;
	margin: 0px;
	list-style: none;

	position: absolute;
	top: -80px;
	right: 50px;
	background: #fff;
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.7);

	-moz-transform: scale(1) rotate(10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1) rotate(10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1) rotate(10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1) rotate(10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1) rotate(10deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}


#sights {
	width: 100%;
	height: 100%;
}
/* anti-copyrights */
.ymaps-copyrights-legend, .ymaps-copyrights-logo {display: none !important;}


#processRoute {
	min-width: 400px;
	width: calc(80% - 200px);
	display: none;
	position: absolute;
	top: 80px;
	right: 10%;
	height: 100%;
	max-height: calc(100% - 150px);
	z-index: 25;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8);
	line-height: 150%;
	text-align: justify;
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.7);
}
#processRoute .routeItems{ 
	margin-bottom: 20px;
	text-align: left;
}
#processRoute #routeComplete {float: right;} 
#processRoute .item {
	border-bottom: dotted 1px #ccc;
	min-height: 44px;
	line-height: 44px;
	vertical-align: middle;
	display: table;
	width: 100%;
}
#processRoute .item:first-child {
	border-top: dotted 1px #ccc;
}
#processRoute .positionName {
	cursor: pointer;
	font-size: 20px;
	line-height: 130%;
	display: table-cell;
	padding: 0px 30px 0px 10px;
	vertical-align: middle;
}
#processRoute .positionButtons {
	display: table-cell;
	vertical-align: middle;
}
#processRoute #positionDelete {margin-right: 30px;}
#processRoute button {
	display: inline-block;
}
#processRoute .processRouteWrapper {
	height: 100%;
	max-height: calc(100% - 44px);
	overflow: hidden;
}
#processRoute .routeItems {
	overflow: auto;
	height: calc(100% - 96px);
}
#processRoute .draggZone {
	display: table-cell;
	width: 15px;
	/*background: #ccc;*/
	border: solid 5px #fff;
	background: url('images/draggZone.png');
	cursor: move;
}


/*#sights {display: none;}*/



.treeWrapper {
	overflow: auto;
	max-height: 600px;
	padding-top: 0px;
	padding-right: 10px;
}
#tree {
	position: absolute;
	top: 100px;
	left: 50px;
	z-index: 25;
	width: 350px;
	padding: 15px;
	/*max-height: calc(100% - 200px);*/
	/*height: calc(100% - 20px);*/
	background: rgba(255,255,255, 0.7);
	/*overflow: auto;*/
	box-shadow: 0 0 5px 0px rgba(0,0,0,0.7);
}
#tree  input, .itemName, .categoryName {
	cursor: pointer;
	padding-left: 20px;
}
#tree input {
	float: left;
	margin-top: 8px;
}
#tree li:hover {
	color: #000;
}
#tree li {
	list-style: none;
	line-height: 30px;
	vertical-align: middle;
	color: #555;
}

.categoryName {
	font-size: 23px;
}
#tree .opened {
	color: #000;
}
.opened .expand {
	background: url('images/toggle.png') 0px 0px;
}
.expand {
	cursor: pointer;
	background: url('images/toggle.png') 30px 30px;
	margin-left: 5px;
	margin-bottom: -6px;
	width: 30px;
    height: 30px;
    /*display: inline-block;*/
    float: left;
}
.treeContainer>li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.itemsContainer {
	display: none;
	padding-left: 35px;
}

















/*#tree {display: none;}*/

#mainMenu {
	position: absolute;
	top: 0px;
	width: 400px;
	padding: 0px 0px;
	left: calc(50% - 200px);
	z-index: 100;
	background: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.5);
	text-align: center;
}
#mainMenu li {
	cursor: pointer;
	text-align: center;
	padding: 0px 25px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	display: inline-block;
	font-size: 25px;
}
/*#mainMenu li:hover, #mainMenu .shown {*/
/* TODO: отдельная картинка для ховера; */
#mainMenu .shown {
	background: url('images/menuhover.png');
	background-position: 50% 0px;
}





.closer:hover {opacity: 1;}
.closer {
	position: absolute;
	top: -16px;
	right: -16px;
	width: 32px; height: 32px;
	background: url('images/closer.png');
	background-position: 50% 50%;
	opacity: 0.9;
	cursor: pointer;
}








